.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 10px;

}

.dialog {
    color: white;
}

.dialogItems {
    padding: 10px;
}


.dialogItems .active {
    color: red;

}

.messages {
    padding-top: 2px;

}


