.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-radius: 30px;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    color: white;
}

.dialogItems_active {
    color: red;
}

.messages {
    padding: 10px;
    color: red;
}


